services:
  postgres:
    image: postgres
    container_name: postgres
    restart: always
#    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: banking_api_db
      POSTGRES_USER: postgres-user
      POSTGRES_PASSWORD: postgres-password
    volumes:
      - postgres-data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
#    restart: unless-stopped
    ports:
      - "8888:80" # host-machine-port:container-port
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgres

  redis:
    image: 'redis:latest'
    container_name: redis
    restart: always
#    restart: unless-stopped
    ports:
      - '6379:6379'

volumes:
  postgres-data:
  pgadmin-data: